{
<% definition.properties.keys.sort.each_with_index do |property_name, idx| -%>

  <% property = definition.properties[property_name] -%>

"<span class="attribute"><%= property_name %></span>":
<span class="value">

  <% if 'array'.eql?(property.type) %>
[
    <% defin_name = property['items']['$ref'].sub(%r{^#/definitions/}, '') -%>
    <% defin = definitions[defin_name] -%>

    <% schema_template = Schema.new -%>
    <%= schema_template.result(:definitions => definitions,
      :definition => defin) %>
]
  <% elsif property.has_key?('$ref') -%>
    <% defin_name = property['$ref'].sub(%r{^#/definitions/}, '') -%>
    <% defin = definitions[defin_name] -%>

    <% schema_template = Schema.new -%>
    <%= schema_template.result(:definitions => definitions,
      :definition => defin) %>

  <% else -%>

  <%=
  case property.type
  when "string"
  '"string"'
  when "uuid"
    '"UUID"'
  when "integer"
    'integer'
  else
    property.type
  end %>

  <% end -%>

</span>

<%= (idx < (definition.properties.size - 1)) ? "," : "" %>

<% end -%>
}