<% title = "#{method_type.to_s.upcase} #{path}" %>
<% title_id = title.gsub(/\W+/, '_').gsub(/_+$/, '') %>
<h2 id="<%= title_id %>"><%= title %></h2>

<%
case number
when :singular, :multiple
%>
<%=
  partial('sections/examples', :locals => {
    :method_type => method_type,
    :resource_type => resource_type,
    :resource_name => resource_name,
    :resource_linked_type => resource_linked_type,
    :resource_linked_name => resource_linked_name,
    :parameters => operation.parameters,
    :definitions => definitions,
    :path => path,
    :number => number,
    :uuids => uuids
  })
%>
<%
when :singular_link, :multiple_link
%>
<%=
  partial('sections/examples_link', :locals => {
    :method_type => method_type,
    :resource_type => resource_type,
    :resource_name => resource_name,
    :resource_linked_type => resource_linked_type,
    :resource_linked_name => resource_linked_name,
    :parameters => operation.parameters,
    :definitions => definitions,
    :path => path,
    :number => number,
    :uuids => uuids
  })
%>
<%
end
%>

<h3>Description</h3>
<p><%= operation.description %></p>

<%= partial('sections/parameters', :locals => {
  :parameters => operation.parameters,
  :definitions => definitions
}) %>

<%= partial('sections/consumes', :locals => {
  :consumes => operation.consumes,
}) %>

<%= partial('sections/responses', :locals => {
  :responses => operation.responses,
  :definitions => definitions
}) %>

<%= partial('sections/produces', :locals => {
  :produces => operation.produces,
}) %>