<% title = "#{method_type.to_s.upcase} #{path}" %>
<% title_id = title.gsub(/\W+/, '_').gsub(/_+$/, '') %>
<h2 id="<%= title_id %>"><%= title %></h2>

<%=
  partial('sections/example_curl', :locals => {
    :method_type => method_type,
    :resource_type => resource_type,
    :resource_name => resource_name,
    :resource_linked_type => resource_linked_type,
    :resource_linked_name => resource_linked_name,
    :path => path,
    :uuids => uuids
  })
%>

<%=
  partial('sections/example_ruby', :locals => {
    :method_type => method_type,
    :resource_type => resource_type,
    :resource_name => resource_name,
    :resource_linked_type => resource_linked_type,
    :resource_linked_name => resource_linked_name,
    :uuids => uuids
  })
%>

<h3>Description</h3>
<p><%= operation.description %></p>

<%= partial('sections/parameters', :locals => {
  :parameters => operation.parameters,
  :definitions => definitions
}) %>

<%= partial('sections/consumes', :locals => {
  :consumes => operation.consumes,
}) %>

<%= partial('sections/responses', :locals => {
  :responses => operation.responses,
  :definitions => definitions
}) %>

<%= partial('sections/produces', :locals => {
  :produces => operation.produces,
}) %>