<h3>Parameters</h3>

<%= partial('sections/parameters_json', :locals => {
      :parameters => parameters,
      :definitions => definitions
    }) %>

<table>
<thead>
<tr>
<td>Name</td>
<td>In</td>
<td>Type</td>
<td>Required?</td>
<td>Description</td>
<td>Format</td>
</tr>
</thead>

<tbody>
<% parameters.each do |parameter| %>
<tr>
<td><%= parameter.name %></td>
<td><%= parameter.in %></td>
<td><%= parameter.type %></td>
<td><%= parameter.required.is_a?(TrueClass) ? 'yes' : 'no' %></td>
<td><%= parameter.description %></td>
<td>

<% if 'body'.eql?(parameter.in) %>
  See <strong>Parameters</strong> tab
<% elsif 'query'.eql?(parameter.in) && 'multi'.eql?(parameter['collectionFormat']) %>

<% else %>
  <%= parameter.format %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
