
<table>
<thead>
<tr>
<td>Name</td>
<td>In</td>
<td>Type</td>
<td>Required?</td>
<td>Description</td>
<td>Format</td>
</tr>
</thead>

<tbody>
<% parameters.each do |parameter| %>
<tr>
<td><%= parameter.name %></td>
<td><%= parameter.in %></td>
<td><%= parameter.type %></td>
<td><%= parameter.required.is_a?(TrueClass) ? 'yes' : 'no' %></td>
<td><%= parameter.description %></td>
<td>

<% if 'body'.eql?(parameter.in) %>

  <% schema = parameter['schema'] %>

  <% if 'array'.eql?(schema.type) %>

    <% definition_name = schema['items']['$ref'].sub(%r{^#/definitions/}, '') %>
    <% definition = definitions[definition_name] %>

    <%= render_partial('sections/schema', :locals => {:definitions => definitions,
      :definition => definition}) %>

]
  <% else %>

    <% definition_name = schema['$ref'].sub(%r{^#/definitions/}, '') %>
    <% definition = definitions[definition_name] %>

    <%= render_partial('sections/schema', :locals => {:definitions => definitions,
      :definition => definition}) %>
  <% end %>

<% elsif 'query'.eql?(parameter.in) && 'multi'.eql?(parameter['collectionFormat']) %>

  <%= "TODO multi #{parameter.name}" %>

<% else %>
  <%= parameter.format %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
